@font-face {
    font-family: "Boots And Spurs";
    src: url(../fonts/BootsAndSpurs.ttf); format: ("truetype")
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo {
    font-family: "Boots And Spurs", Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
    padding: 0px;
    margin-left: 25px;
}

.ourguitarsmain, 
.reviews__content {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.ourguitarsmain > * {
    flex: 1;
}

.headerbg {
    background-image: url("../images/home-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 70vh;
    position: relative;
}

.welcome {
    position: absolute;
    top: 80px;
    left: 100px;
    text-align: center;
}

.ourguitars {
    border-radius: 20%;
    width: 90%;
}

.bob, 
.sally {
    border-radius: 50%;
    width: 80px;
    float: right;
}

.reviews__name {
    display: block;
}

header {
    display: flex;
    align-items: center;
}

header,
footer {
    background-color: #202020;
    color: #ffffff;
}

header a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
}

header li {
    list-style: none;
    display: inline-block;
}

.active {
    text-decoration: underline;
}

.not500 {
    text-decoration: line-through;
}

.view {
    background-color: #880000;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 80px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
}

.view-onsale {
    background-color: #127300;
    padding: 10px 40px;
}

.view-small {
    padding: 10px 50px;
}

.reviews {
    background-color: #e8e8e8;
    flex: wrap;
    text-align: center;
    padding: 50px;
}

.reviews__content > * {
    flex: 1;
    text-align: left;
    padding: 0px 50px;
}

.guitar--lists h2 {
    background-color: #fbfbfb;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    text-align: center;
}

/* Contact Page */

input, 
select,
textarea {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
} 

/* Guitar Page */

/* Product Page*/

.main--guitar {
    max-width: 1000px;
    display: flex;
    flex: 1;
}